* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  weight: 100vw;
  display: flex;
  background-color: black;
  background-image: url(/static/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
.face {
  display: block;
  height: 552px;
  width: 552px;
  background: url(/static/masked.png) no-repeat center;
  background-size: cover;
  animation: 2.4s ease-in-out infinite batman;
}
@keyframes batman {
  0% { transform: scale(1) rotate(0deg); }
  25% { transform: scale(1.7) rotate(15deg); }
  50% { transform: scale(1) rotate(0deg); }
  75% { transform: scale(1.7) rotate(-15deg); }
  100% { transform: scale(1) rotate(0deg); }
}
